<div class="container-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#isEmpity products}}
                {{/isEmpity}}
                {{#each products}}
                    <tr>
                        <td>{{{name}}}</td>
                        <td>${{price}}</td>
                        <td><img src="{{thumbnail}}" alt="{{name}}" width="30px"></td>
                    </tr>
                {{/each}}
                   
            </tbody>
        
            <a href="/static"><button type="button" class="btn btn-secondary btn-lg">Back form</button></a>
        </table>
</div>